.containers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}
.logo{
    width: 150px;
    height: 40px;
}
img{
    width:inherit;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu p{
    margin-right:2em ;
    /* width: 120px; */
    font-size: small;
    font-weight: 400;
}
.menu button{
    width: 120px;
    height: 30px;
    font-size: small;
    font-weight: 400;
    background-color: #F6B83B;
    border: solid #F6B83B;
    color: white;
}